
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "История заказов";
}

<div>
    <h4><b>История заказов</b></h4>
    <br />
    <br />
    <table>
        <thead>
            <tr>
                <td><b>Дата заказа</b></td>
                <td><b>Номер заказа</b></td>
                <td><b>Дата поступления</b></td>
                <td><b>Статус заказа</b></td>
                <td><b>Артикул товара</b></td>
                <td><b>Наименование товара</b></td>
                <td><b>Количество</b></td>
                <td><b>Цена</b></td>
                <td><b>Общая стоимость</b></td>
            </tr>
        </thead>
        @{
            double totalPriceOrder = 0;
        }
        <tbody>
            @foreach (WebApp.Models.Orders.OrdersDataDTO orders in @Model)
            {
                foreach (WebApp.Models.Orders.OrderProductDTO products in orders.OrdersProducts)
                {
                    <tr>
                        @if (orders.OrdersProducts.IndexOf(products) == 0)
                        {
                            <td class="OrderData" rowspan="@(orders.OrdersProducts.Count)">@orders.OrderDate.ToShortDateString()</td>
                            <td class="OrderData" rowspan="@(orders.OrdersProducts.Count)">@orders.OrderNumber</td>
                            <td class="OrderData" rowspan="@(orders.OrdersProducts.Count)">@orders.DeliveryDate.ToShortDateString()</td>
                            <td class="OrderData" rowspan="@(orders.OrdersProducts.Count)">@orders.OrderStatus</td>
                        }
                        <td>@products.ProductNumber</td>
                        <td>@products.Name</td>
                        <td>@products.Quantity</td>
                        <td>@products.Price</td>
                        @{
                            double totalPriceProducts = @products.Quantity * @products.Price;
                            totalPriceOrder = totalPriceOrder + totalPriceProducts;
                        }
                        <td>@totalPriceProducts</td>
                    </tr>
                }
                <tr>
                    <td class="Total" colspan="8"><b>Итог</b></td>
                    <td class="Cost"><b>@totalPriceOrder</b></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<style>
    td {
        padding: 6px;
    }

    .Total {
        text-align: left;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: black;
    }

    .Cost {
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: black;
    }
</style>

