@model WebApp.Models.Orders.OrderRegistrationDTO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Оформление заказа";
}

<div>
    <h4><b>Оформление заказа</b></h4>
    <br />
    <br />
    <p><b>Номер заказа</b></p>
    <p>@Model.OrderNumber</p>
    <p><b>Адрес доставки</b></p>
    @Html.TextBox("Label", "Введите адрес...")
    <br />
    <br />
    <p><b>Получатель</b></p>
    @Html.TextBox("Label", "Введите ФИО получателя заказа...")
    <br />
    <br />
    <p><b>Способ оплаты</b></p>
    <p>@Model.PaymentType</p>
    <br />
    <br />
    <p><b>Общая сумма заказа</b></p>
    <p>@Model.TotalPrice</p>
    <br />
    <br />
    <p><b><input type="submit" value="Перейти к оплате" /></b></p>
</div>

