
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Регистрация";
}

    <div>
        <h4><b>Регистрация</b></h4>
        <br/>
        <br />
            <p>Фамилия: </p>
            @Html.TextBox("Label")
            <p>Имя:</p>
            @Html.TextBox("Label")
            <p>Отчество: </p>
            @Html.TextBox("Label")
            <p>Дата рождения в формате ЧЧ.ММ.ГГГГ: </p>
            @Html.TextBox("Label")
            <p>Телефон:</p>
            @Html.TextBox("Label")
            <p>Email: </p>
            @Html.TextBox("Label")<br />
            <p><input type="submit" value="Создать аккаунт" /></p>
    </div>




