@model WebApp.Models.ProductsData.ProductDetailsDTO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Карточка товара";
}

    <div>
        <h4><b>Карточка товара</b></h4>
        <br />
        <br />
        <img src="@Model.Photo" width="489" height="322" />
        <p>@Model.Name</p>
        <p><b>Артикул: </b>@Model.Number</p>
        <b>Размер: </b>
        @foreach (string size in Model.Sizes)
        {
            <input type="submit" value="@size" />
        }
        <p><b>Цена: </b>@Model.Price</p>
        <p><b>Состав: </b>@Model.Composition</p>
        <p><b>Цвет: </b>@Model.Color</p>
        <p><b>Описание: </b>@Model.Composition</p>
        <p><b>Отзывы: </b><a href="/Reviews/Index">@Model.Reviews.Count</a></p>
        <p><b><input type="submit" value="Добавить товар в корзину" /></b></p>
    </div>
  
