@model WebApp.Models.Reviews.ProductReviewDTO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Отзывы";
}

<div>
    <h4><b>Отзывы</b></h4>
    <br />
    <br />
    <p><b>@Model.Name</b> Артикул: <b>@Model.Number</b></p>
    <br />
    <br />
    <table>
        @foreach (WebApp.Models.Reviews.IndexDTO review in @Model.Reviews)
        {
            <tr>
                <td>@review.DateReview.ToShortDateString()</td>
                <td><b>@review.NameCustomer:</b></td>
                <td>@review.TextReview</td>
            </tr>
        }
    </table>
    <br />
    <br />
    <p><b><input type="submit" value="Добавить отзыв" /></b></p>
</div>
<style>
    td {
        padding: 6px;
    }
</style>
