
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Редактирование данных";
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <h4><b>Редактирование данных</b></h4>
        <br />
        <br />
        <p>Внесите необходимые изменения и нажмите кнопку "Сохранить данные": </p>
        <br />
        <br />
        <p><b>Фамилия: </b></p>
        @Html.TextBox("Label")
        <p><b>Имя:</b></p>
        @Html.TextBox("Label")
        <p><b>Отчество</b>: </p>
        @Html.TextBox("Label")
        <p><b>Дата рождения</b>: </p>
        @Html.TextBox("Label")
        <p><b>Телефон:</b></p>
        @Html.TextBox("Label")
        <p><b>Email:</b></p>
        @Html.TextBox("Label")
        <br />
        <p><input type="submit" value="Сохранить данные" /></p>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>



